<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bot_detection>
            <action>
                <enabled>1</enabled>
                <maximum_requests>2</maximum_requests>
                <time_limit>30</time_limit>
            </action>
            <billing>
                <enabled>1</enabled>
                <message>Your country and billing address must be the same</message>
            </billing>
        </bot_detection>
    </default>
</config>